@import "../css/variables.module";

.excalidraw {
  .DropdownMenuContent,
  .DropdownMenuSubContent,
  .AccordionContent {
    position: relative;
    border-radius: 4px;
    box-shadow: 0 3px 10px transparentize($oc-black, 0.8);
    padding: 0;
    list-style: none;
    user-select: none;
    padding: 0.5rem 0;
    background-color: var(--popup-secondary-bg-color);
    border: 1px solid var(--button-gray-3);
    cursor: default;
  }
  .DropdownMenuSubContent {
    margin: 0;
  }
  .DropdownMenuContent button {
    color: var(--popup-text-color);
  }

  .DropdownMenuContent[data-side="top"],
  .DropdownMenuSubContent[data-side="top"] {
    animation-name: slideDownAndFade;
  }
  .DropdownMenuContent[data-side="right"],
  .DropdownMenuSubContent[data-side="right"] {
    animation-name: slideLeftAndFade;
  }
  .DropdownMenuContent[data-side="bottom"],
  .DropdownMenuSubContent[data-side="bottom"] {
    animation-name: slideUpAndFade;
  }
  .DropdownMenuContent[data-side="left"],
  .DropdownMenuSubContent[data-side="left"] {
    animation-name: slideRightAndFade;
  }

  .DropdownMenuItem,
  .DropdownMenuCheckboxItem,
  .DropdownMenuRadioItem,
  .DropdownMenuSubTrigger,
  .AccordionTrigger {
    font-size: 13px;
    line-height: 1;
    border-radius: 3px;
    display: flex;
    align-items: center;
    height: 25px;
    padding: 0.15rem 1rem 0.15rem 1.25rem;
    position: relative;
    user-select: none;
    outline: none;

    background-color: transparent;
    border: none;
    white-space: nowrap;
    font-family: inherit;

    &.checkmark::before {
      position: absolute;
      left: 6px;
      margin-bottom: 1px;
      content: "\2713";
    }

    &.dangerous {
      .context-menu-item__label {
        color: $oc-red-7;
      }
    }
  }

  .DropdownMenuTrigger {
    opacity: 0;
  }

  .DropdownMenuItem[data-disabled],
  .DropdownMenuCheckboxItem[data-disabled],
  .DropdownMenuRadioItem[data-disabled],
  .DropdownMenuSubTrigger[data-disabled] {
    color: var(--mauve-8);
    pointer-events: none;
  }
  .DropdownMenuItem[data-highlighted],
  .DropdownMenuCheckboxItem[data-highlighted],
  .DropdownMenuRadioItem[data-highlighted],
  .DropdownMenuSubTrigger[data-highlighted] {
    color: var(--popup-bg-color);
    background-color: var(--select-highlight-color);

    &.dangerous {
      .context-menu-item__label {
        color: var(--popup-bg-color);
      }
      background-color: $oc-red-6;
    }
  }

  .DropdownMenuLabel {
    padding-left: 25px;
    font-size: 12px;
    line-height: 25px;
    color: var(--popup-bg-color);
  }

  .DropdownMenuSeparator {
    height: 1px;
    margin: 5px;
    border-top: 1px solid $oc-gray-5;
  }

  .DropdownMenuItemIndicator {
    position: absolute;
    left: 0;
    width: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .DropdownMenuArrow {
    fill: white;
  }

  .IconButton {
    font-family: inherit;
    border-radius: 100%;
    height: 35px;
    width: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--violet-11);
    background-color: white;
    box-shadow: 0 2px 10px var(--black-a7);
  }
  .IconButton:hover {
    background-color: var(--violet-3);
  }
  .IconButton:focus {
    box-shadow: 0 0 0 2px black;
  }

  .RightSlot {
    margin-left: auto;
    padding-left: 20px;
    opacity: 0.5;
  }
  [data-highlighted] > .RightSlot {
    color: white;
  }
  [data-disabled] .RightSlot {
    color: var(--mauve-8);
  }

  @keyframes slideUpAndFade {
    from {
      opacity: 0;
      transform: translateY(2px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideRightAndFade {
    from {
      opacity: 0;
      transform: translateX(-2px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideDownAndFade {
    from {
      opacity: 0;
      transform: translateY(-2px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideLeftAndFade {
    from {
      opacity: 0;
      transform: translateX(2px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
